@font-face {
  font-family: "Basteleur";
  src: url("./fonts/Basteleur-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Basteleur";
  src: url("./fonts/Basteleur-Moonlight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-SemiboldItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}